{% extends 'base/user_side/base_user.html' %}

{% block title %}
Orders Details
{% endblock %}

{% block content %}

{% load static %}
<!-- Header -->
{% include 'base/user_side/includes/header.html' %}
<div style="z-index: 100000; position: absolute; top: 0px; left: 0; right: 0;">
	{% include 'base/user_side/includes/alerts.html' %}
</div>	
<!-- Cart -->
{% include 'base/user_side/includes/header_cart.html' %}

<style>
    .modal-custom{
        position: fixed;
        top: 120px;
        right: 0;
        bottom: 0;
        left: 0;
    }
    .dropdown-toggle{
        align-items: center;
        margin: 0;
        padding: 0;
        transition-duration: 0.5s;
    }
    td{
        vertical-align: middle !important;
    }
    .dropdown-custom{
        text-align: center;
    }
    .dropdown-toggle:hover{
        background-color: #000;
        color: #fff;
        transition-duration: 0.5s;
    }

    .table-row-bg{
        background-color: rgba(0,0,0,.03);
    }
</style>
  


<div class="container">
    <div class="row">
        {% include 'base/user_side/includes/dashboard.html' %}
        <div class="col-md-9 col-sm-9">
            <div class="card-title p-3 ">
                Order Details
            </div>
            <div class="card">
                <div class="card-header p-3 m-3">
                    <h4>Invoice Details</h4>
                    <div class="d-flex justify-content-between text-left card-body">
                        <div class="">
                            <ul class="list-unstyled mb0">
                            <li><strong>Order: </strong>{{order.order_id}}</li>
                            <li><strong>Transaction: </strong> {{order.payment.payment_id}}</li>
                            </ul>
                        </div>
                        <div class="">
                        <ul class="list-unstyled mb0">
                            <li><strong>Order Date: </strong> {{order.created_at}}</li>
                            <li><strong>Status: </strong>{% if order.order_status in inprogress_choices %} In progress {% else %} {{order.order_status}} {% endif %}</li>
                        </ul>
                        </div>
                    </div>
                </div>
                <div class="d-flex justify-content-between text-left card-body ">
                    <div class="col-7 border border-black-50 m-2">
                        <div class="p-3 m-3">
                            <h5>Product details</h5>
                        </div>
                        <div class="p-3 m-3">
                            <table class="table">
                                <thead>
                                     <tr class="table_head">
                                        <th class="column-1">Product</th>
                                        <th class="column-3">Price</th>
                                        <th class="column-4 text-center">Quantity</th>
                                        <th class="column-4 text-center">More</th>
                                    </tr>
                                 </thead>
                            <tbody>
                                {% for product in products %}
                                
                                    <tr class="table-row-bg table_row">
                                        <td class="column-1">
                                            <div class="d-flex justify-content-start bd-highlight mb-3">
                                                <div class=" how-itemcart1">
                                                    <img src="{{ product.variant.thumbnail_image.url }}" alt="IMG">
                                                </div>
                                                <figcaption class="info">
                                                    <a href="{{ product.variant.get_url }}" class="title text-dark">{{product.variant.product}}
                                                </a>
                                                    <p class="text-muted small">
                                                        {% for value in product.variant.attribute.all %}
                                                        {{value.attribute}}: {{value.attribute_value}}
                                                        <br>
                                                        
                                                        {% endfor %}
                                                        
                                                        Publication: {{product.variant.product.publication}}
                                                    </p>
                                                </figcaption>
                                            </div>
                                        </td>
                                        <td class="column-3">
                                            Rs.{{product.variant.sale_price}}
                                        </td>
                                        <td class="column-4">
                                            <h6 class="text-center">{{product.quantity}}</h6>
                                        </td>
                                        <td class="dropdown-custom btn-num-product-down column-4 dropdown-toggle" data-toggle="collapse" data-target="#collapse{{forloop.counter}}"></td>
                                    </tr>
                                    <tr class="collapse" id="collapse{{forloop.counter}}">
                                        <td>   
                                            <p class="p-2">Product status : <span>{{product.order_status}}</span> </p>
                                            {% if  product.order_status == 'Cancellation Requested' %}
                                            <p class="text-danger p-2">Your Request for cancellation is in review state... </p>
                                            {% elif product.order_status == 'Return Requested' %}
                                            <p class="text-danger p-2">Your Request for return is in review state... </p>
                                            {% endif %}

                                            
                                            {% if product.order_status in when_return and not product.order_status == 'Return Requested'%}
                                            <a type="button" class="btn btn-outline-dark" data-toggle="modal" onclick="order_operation('return', '{{forloop.counter}}')" data-target="#reasonModal{{forloop.counter}}" id="return">
                                                Return Order
                                            </a>
                                            {% elif product.order_status in when_cancel and not product.order_status == 'Cancellation Requested' %}
                                            <a type="button" class="btn btn-danger text-light" data-toggle="modal" onclick="order_operation('cancel', '{{forloop.counter}}')" data-target="#reasonModal{{forloop.counter}}" id="cancel">
                                                Cancel Order
                                            </a>
                                            {% endif %}
                                        </td>
                                    </tr>
                                    <!-- Modal -->
                                    
                                    <div class="modal fade modal-custom" id="reasonModal{{forloop.counter}}" tabindex="-1" role="dialog" aria-labelledby="reasonModalTitle{{forloop.counter}}" aria-hidden="true">
                                        <div class="modal-dialog modal-dialog-centered" role="document">
                                            <div class="modal-content">
                                                <div class="modal-header bg-dark">
                                                    <h5 class="modal-title text-white" id="reasonModalTitle{{forloop.counter}}"></h5>
                                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                        <span aria-hidden="true">&times;</span>
                                                    </button>
                                                </div>
                                                <form {% if product.order_status in when_cancel %} action="{% url 'product_cancel_request' %}" {% elif product.order_status in when_return %} action="{% url 'product_return_request' %}" {% endif %} method="post">
                                                    {% csrf_token %}
                                                    <div class="modal-body p-2 m-2">
                                                        <div>
                                                            <div class="d-flex flex-col align-items-start p-4 m-1">
                                                                {% if product.order_status in when_cancel %}
                                                                    <label for="cancel-reason"> Cancelling because of...</label>
                                                                {% elif product.order_status in when_return %}
                                                                    <label for="cancel-reason"> Returning because of...</label>
                                                                {% endif %}
                                                                <select class="form-control" onchange="reasonControl('{{forloop.counter}}')" name="reason" id="reason{{forloop.counter}}">
                                                                    <option value="">Select your reason</option>
                                                                    {% if product.order_status in when_cancel %}
                                                                        {% for reason in cancel_reasons %}
                                                                        <option value="{{reason}}">{{reason}}</option>
                                                                        {% endfor %}
                                                                    
                                                                    {% else %}
                                                                        {% for reason in return_reasons %}
                                                                            <option value="{{reason}}">{{reason}}</option>
                                                                        {% endfor %}
            
                                                                    {% endif %}
                                                                </select>
                                                                <input type="text" hidden name="order_product_id" value="{{product.id}}">
                                                                <input type="text" hidden name="order_id" value="{{order.order_id}}">
                                                            </div>
                                                            
                                                            <div class="d-flex flex-col align-items-start p-4 m-1">
                                                                <label for="other-reason" class="form-control-label">Others</label>
                                                                <textarea disabled name="other-reason" id="other-reason{{forloop.counter}}" cols="30" rows="10" class="form-control"></textarea>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="modal-footer">
                                                        <button type="submit" class="btn btn-dark">Request</button>
                                                    </div>
                                                </form>

                                            </div>
                                        </div>
                                    </div>
                                    {% endfor %}
                                </tbody>
                                <tfoot>
                                    <tr>
                                        <th colspan="2" class="text-right">Sub Total:</th>
                                    <th class="text-center ">&#8377;{{sub_total}}</th>
                                </tr>
                                <tr>
                                    <th colspan="2" class="text-right">Tax:</th>
                                    <th class="text-center text-danger">&#8377;{{tax}}</th>
                                </tr>
                                <tr>
                                    <th colspan="2" class="text-right">Net payable amount:</th>
                                    <th class="text-center"><strong>&#8377;{{ grand_total }}</strong></th>
                                </tr>
                            </tfoot>
                        </table>
                        
                        

                    </div>
                    </div>
                    <div class="flex-column">
                        <div class="card m-2 ">
                            <div class="card-header bg-none p-3 m-3">
                                <h5>Shipping Address</h5>
                            </div>
                            <div class="card-body form-group p-3 m-3 ">
                                {{order.shipping_address.name}}<br>
                                {{order.shipping_address.phone_number}},
                                {{order.shipping_address.address_line_1}},
                                {{order.shipping_address.address_line_2}}<br>
                                {{order.shipping_address.city}},
                                {{order.shipping_address.state}},
                                {{order.shipping_address.pincode}}<br>
                                {{order.shipping_address.country}}
                            </div>
                        </div>
                        
                        <div class="row card m-2">
                            <div class="card-header bg-none p-3 m-3">
                                <h5>Payment Details</h5>
                            </div>
                            <div class="card-body form-group p-3 m-3 ">
                                Payment Method : {{payment.method.method_name}}<br>
                                Payment ID : {{payment.payment_order_id}}
                                Payment Status : {{payment.payment_status}}
                                {% if payment.payment_status == 'FAILED' %}
                                <br>
                                <div class="card p-3 my-3">
                                    <span class=" text-danger">
                                        {{payment.error_description}}
                                    </span>
                                </div>
                                <div class="card border-0  my-3">
                                    <button type="submit" onclick="retry_payment('{{order.order_id}}')" 
                                    class="flex-c-m  cl0  bg3 bor14 hov-btn3 p-3 trans-04 pointer">
                                    Retry Payment &#8377;{{order.order_total}}
                                    </button>
                                </div>
                                
                                {% endif %}
                            </div>
                        </div>
                        <div class=" m-2 p-2">
                            {% if invoice %}
                            <a role="button" target="_blank" class="flex-c-m  cl0  bg3 bor14 hov-btn3 p-3 trans-04 pointer" href="{% url 'generate_invoice' invoice.invoice_number %}">
                                Download Invoice
                            </a>
                            {% endif %}

                        </div>
                        
                    </div> 
                </div>

            </div>
            <br>
            <br>
            <br>
        </div>
    </div>
</div>
<script>
    let logoPath = "{% static 'user/images/icons/logo-01.png' %}"
</script>
<script src="https://checkout.razorpay.com/v1/checkout.js"></script>
{% endblock %}