{% extends 'base/user_side/base_user.html' %}
{% block title %}
    Sign Up
{% endblock %}

{% block content %}
{% load static %}
<!-- Header -->
{% include 'base/user_side/includes/header.html' %}
<!-- Cart -->
{% include 'base/user_side/includes/header_cart.html' %}
<!-- validation classses -->
<style>
    .input-control.success input{
        border-color: #09c372;
    }
    
    .input-control.error input {
        border-color: #ff3860;
    }
    .input-control .error {
        color: #ff3860;
        font-size: 13px;
        height: 13px;
    }
</style>

<section class="bg0 p-t-104 p-b-116">
    <div class="container">
            {% include 'base/user_side/includes/alerts.html' %}
            <div class="flex-w flex-tr bor10 ">
                <div class="size-210 p-lr-70 p-t-55 p-b-70 p-lr-15-lg w-full-md">
                    <form id="inputForm" method="POST">
                            <div class="container-fluid p-0">
                                <h4 class="mtext-105 cl2 txt-center p-b-30">
                                    Create an Account
                                </h4>
                                <div class="row">

                                    {% csrf_token %}
                                    
                                    
                                    <div class="input-control col-lg-6 p-3 ">
                                        <label class="form-label" for="id_first_name">Firstname</label>
                                        {{form.first_name}}
                                        <div class="error text-danger">
                                            {{form.first_name.errors}}
                                        </div>
                                        
                                        <!-- <input class="stext-111 cl2 plh3 size-116 p-l-62 p-r-30" id="#id_first_name" type="text" name="firstname" placeholder="Your First Name"> -->
                                    </div>
            
                                    <div class="input-control col-lg-6 p-3">
                                        <label class="form-label" for="id_last_name">Lastname</label>
                                        {{form.last_name}}
                                        <div class="error text-danger">
                                            {{form.last_name.errors}}
                                        </div>
                                    </div>
                                    <div class="input-control col-lg-12 p-3">
                                        <label class="form-label" for="id_username">Username</label>
                                        {{form.username}}
                                        <div class="error text-danger">
                                            {{form.username.errors}}
                                        </div>
                                    </div>
                                    <div class="input-control col-lg-12 p-3">
                                        <label class="form-label" for="id_phone_number">Phone number</label>
                                        {{form.phone_number}}
                                        <div class="error text-danger">
                                            {{form.phone_number.errors}}
                                        </div>
                                    </div>
                                    <div class="input-control col-lg-12 p-3">
                                        <label class="form-label" for="id_email">Email ID</label>
                                        {{form.email}}
                                        <div class="error text-danger">
                                            {{form.email.errors}}
                                        </div>
                                    </div>
                                    
                                    <div class="input-control col-lg-6 p-3">
                                        <label class="form-label" for="id_password">Password</label>
                                        {{form.password}}
                                        <div class="error text-danger">
                                            {{form.password.errors}}
                                        </div>
                                    </div>
                                    <div class="input-control col-lg-6 p-3">
                                        <label class="form-label" for="id_confirm_password">Confirm Password</label>
                                        <input class="form-control" id="id_confirm_password" type="password" name="confirm_password">
                                        <div class="error"></div>
                                    </div>
                                    <div class="input-control col-lg-12 d-flex justify-content-center my-4">
                                        <button type="submit" class="btn btn-outline-secondary px-3">
                                            Submit
                                        </button>   
                                    </div>
                                </div>
                                <p class = "d-flex justify-content-center">Already have an account?<a href="{% url 'user_login' %}">Login here</a></p>
                        </div>
                    </form>

                </div>
                <div class="size-210 flex-w flex-col-m p-l-10 p-tb-30 p-r-128-lg w-full-md">
                    <img src= "{% static 'user/images/signup_illustration.jpg' %} " class="w-100 h-100" alt="Signup" >
                    
                </div>
            </div>
        </div>
    </section>
<script defer src="{% static 'user/js/auth_validation.js' %}" ></script>
    

{% endblock %}