{% if messages %}
    {% for message in messages %}
    <div id="message" class="container-fluid p-0">
        <div {% if message.tags %} class="py-4 alert alert-{% if message.tags == 'error'%}danger{% else %}{{ message.tags }}{% endif %}"{% endif %} role="alert">
            <button type="button" class="close" data-dismiss="alert"><span aria-hidden="true">&times;</span></button>
            {% if message.level == DEFAULT_MESSAGE_LEVELS.ERROR %}Important: {% endif %}
            {{ message }}
        </div>
    </div>
    {% endfor %}
{% endif %}


<script>
    setTimeout(function(){
        $('#message').fadeOut('slow')
    }, 4000)

</script>


