{% load static %}
<div class="screen-overlay"></div>
<aside class="navbar-aside" id="offcanvas_aside">
    <div class="aside-top">
        <a href="index.html" class="brand-wrap">
            <img src="{% static 'admin_control/assets/imgs/theme/logo.svg '%}" class="logo" alt="Evara Dashboard">
        </a>
        <div>
            <button class="btn btn-icon btn-aside-minimize"> <i class="text-muted material-icons md-menu_open"></i> </button>
        </div>
    </div>
    <nav>
        <ul class="menu-aside">
            <li class="menu-item {% if '/admin-control/' == request.path %}active{% endif %}">
                <a class="menu-link" href="{% url 'admin_home' %}"> <i class="icon material-icons md-home"></i>
                    <span class="text">Dashboard</span>
                </a>
            </li>
            <li class="menu-item has-submenu {% if 'user-management' in request.path %}active{% endif %}">
                <a class="menu-link" href=""> <i class="icon material-icons md-person"></i>
                    <span class="text">User Management</span>
                </a>
                <div class="submenu">
                    <a href="{% url 'all_users' %}">All Users</a>
                    <a href="{% url 'create_user' %}">Create User</a>
                    <!-- <a href="page-error-404.html">Error 404</a> -->
                </div>
            </li>
            <li class="menu-item has-submenu {% if 'user-management' in request.path %}active{% endif %}">
                <a class="menu-link" href=""> <i class="icon material-icons md-person"></i>
                    <span class="text">Category Management</span>
                </a>
                <div class="submenu">                    
                    <a href="{% url 'all_category' %}">All category</a>
                    <a href="{% url 'create_category' %}">Create Category</a>
                    <!-- <a href="page-error-404.html">Error 404</a> -->
                </div>
            </li>
            <li class="menu-item has-submenu">
                <a class="menu-link" href="page-products-list.html"> <i class="icon material-icons md-shopping_bag"></i>
                    <span class="text">Product Management</span>
                </a>
                <div class="submenu">
                    <a href="{% url 'all_products' %}">Product List</a>
                    <a href="{% url 'create_product' %}">Add Product</a>
                    
                
                    <!-- <a href="page-products-grid-2.html">Pzroduct grid 2</a>
                    <a href="page-categories.html">Categories</a> -->
                </div>
            </li>
            <li class="menu-item has-submenu">
                <a class="menu-link" href="page-orders-1.html"> <i class="icon material-icons md-shopping_cart"></i>
                    <span class="text">Order Management</span>
                </a>
                <div class="submenu">
                    <a href="{% url 'all_orders' %}">All orders</a>
                    <a href="{% url 'all_orders' %}?status=New">New orders</a>
                </div>
            </li>
            
            <li class="menu-item has-submenu">
                <a class="menu-link" href="page-form-product-1.html"> <i class="icon material-icons md-stars"></i>
                    <span class="text">Publication Management</span>
                </a>
                <div class="submenu">
                    <a href="{% url 'all_publication' %}">All Publication</a>
                    <a href="{% url 'create_publication' %}">Add Publication</a>
                    
                   
                </div>
            </li>
            <li class="menu-item has-submenu">
                <a class="menu-link" href="page-transactions-1.html"> <i class="icon material-icons md-monetization_on"></i>
                    <span class="text">Author Management</span>
                </a>
                <div class="submenu">
                    <a href="page-transactions-1.html">All Authors</a>
                    <a href="page-transactions-2.html">Add Author</a>
                </div>
            </li>
            <li class="menu-item">
                <a class="menu-link" disabled href="#"> <i class="icon material-icons md-pie_chart"></i>
                    <span class="text">Statistics</span>
                </a>
            </li>
        </ul>
        <hr>
        <br>
        <br>
    </nav>
</aside>
