{% autoescape off %}
{% load static %}
<pre>
<title><strong>Subject:</strong> Account Verification - Your One-Time Password (OTP)</title>


Dear {{ user.username }},


Thank you for choosing BookMania! We're excited to have you on board as a valued member of our community.

Please use the following One-Time Password (OTP) to complete the login process:

</pre>
{% block content %}
OTP:<strong>{{otp}}</strong>
{% endblock %}

<pre>

Please enter this OTP on the verification page within the next 2 minutes to confirm your email address and gain full access to your  account.

If you did not attempt to create an account on <strong>BookMania</strong>, please ignore this email. Your account will not be activated without the correct OTP.

Thank you for choosing <strong>BookMania</strong>. Happy reading!

Best regards,


<strong>The BookMania Team</strong>

<strong>BookMania</strong>
</pre>


{% endautoescape %}