/* review and rating stars css  */

.rate > input{
    display: none;
  }
  .rate{
    display: inline-block;
    border: 0;
  }
  .rate >label
  {
    float: right;
  }
  
  /* showing stars  */
  .rate > label:before{
    display: inline-block;
    font-size: 1.5rem;
    content: '★';
    margin: 0;
    padding: 0.3rem 0.2rem;
    cursor: pointer;
    
  }
  
  /* half star  */
  .rate > .half:before
  {
    content: '✬';
    position: absolute;
    padding-right: 0;
   
  
  }
  
  /* click and hover  */
  
  .rate > input:checked ~ label,.rate >label:hover ~ label {
    color: #fc0;
  }
  
  /* highlight color  */
  .rate > input:checked + label, .rate > label:hover , .rate > input:checked ~ label:hover, .rate > input:checked ~ label:hover ~ label,
  .rate >label:hover ~ input:checked ~ label
  {
    color: rgba(255, 204, 0, 0.508);
  }