{% extends 'base/user_side/base_user.html' %}

{% block title %}
Order Summary
{% endblock %}

{% block content %}

{% load static %}

<!-- Header -->
{% include 'base/user_side/includes/header.html' %}


<!-- Cart -->
{% include 'base/user_side/includes/header_cart.html' %}

<!-- breadcrumb -->
<div class="container">
    <div class="bread-crumb flex-w p-l-25 p-r-15 p-t-30 p-lr-0-lg">
        <a href="{% url 'user_home' %}" class="stext-109 cl8 hov-cl1 trans-04">
            Home
            <i class="fa fa-angle-right m-l-9 m-r-10" aria-hidden="true"></i>
        </a>
        <a href="{% url 'cart'%}" class="stext-109 cl8 hov-cl1 trans-04">
            Shopping Cart
            <i class="fa fa-angle-right m-l-9 m-r-10" aria-hidden="true"></i>
        </a>
        <a href="{% url 'cart_checkout'%}" class="stext-109 cl8 hov-cl1 trans-04">
            Checkout
            <i class="fa fa-angle-right m-l-9 m-r-10" aria-hidden="true"></i>
        </a>
        <span class="stext-109 cl4">
            Order Summary
        </span>
    </div>
</div>


<div class="bg0 p-t-75 p-b-85">
    <div class="container">
        <div class="row">
            <div class="col-lg-10 col-xl-5 m-lr-auto m-b-50">
                <div class="m-l-25 m-r--38 m-lr-0-xl">
                    <div class="card">
                        <div class="card-header p-2 m-2 bg-none">
                            <h6><strong>User details</strong></h6>
                        </div>
                        <div class="d-flex form-group">
                            <div class="card-body">
                                <label class="form-label" for="id_username">Username</label>
                                <input type="text" readonly value="{{user.username}}" class="form-control">

                            </div>
                            <div class="card-body">
                                <label class="form-label" for="id_email">Email</label>
                                <input type="text" readonly value="{{user.email}}" class="form-control">
                            </div>
                        </div>
                    </div>
                    <br>
                    <div class="card">
                        <div class="card-header p-2 m-2 bg-none">
                            <h6><strong>Shipping Address</strong></h6>
                        </div>
                        <div class="card-body">
                            <div class="form-row row border border-black-50 m-2">
                                <div class="form-group p-2 mx-2 ">
                                    {{shipping_address.name}}<br>
                                    {{shipping_address.phone_number}},
                                    {{shipping_address.address_line1}},
                                    {{shipping_address.address_line2}}<br>
                                    {{shipping_address.city}},
                                    {{shipping_address.state}},
                                    {{shipping_address.pincode}}<br>
                                    {{shipping_address.country}}
                                </div>
                            </div>
                        </div>

                    </div>
                    <br>
                    <div class="card">
                        <div class="card border-0">
                            <div class="card-header border-0 bg-none p-2 m-2">
                                <h6><strong>Product Details</strong></h6>
                            </div>

                            <div class="card-body p-3">
                                <div class="wrap-table-shopping-cart border-0" style="height: 200px;">
                                    <table class="table">
                                        <thead>
                                            <tr class="table_head">
                                                <th class="column-1">Product</th>
                                                <th class="column-3">Price</th>
                                                <th class="column-4 text-center">Quantity</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            {% for cart_item in cart_items %}

                                            <tr class="table_row">
                                                <td class="column-1">
                                                    <div class="d-flex justify-content-start bd-highlight mb-3">
                                                        <div class=" how-itemcart1">
                                                            <img src="{{cart_item.product.thumbnail_image.url}}"
                                                                alt="IMG">
                                                        </div>

                                                        <figcaption class="info">
                                                            <a href="{{cart_item.product.get_url}}"
                                                                class="title text-dark">{{cart_item.product.product}}</a>
                                                            <p class="text-muted small">
                                                                {% for value in cart_item.product.attribute.all %}
                                                                {{value.attribute}}: {{value.attribute_value}}
                                                                <br>

                                                                {% endfor %}

                                                                Publication: {{cart_item.product.product.publication}}
                                                            </p>
                                                        </figcaption>
                                                    </div>
                                                </td>
                                                <td class="column-3">
                                                    Rs.{{cart_item.product.sale_price}}
                                                </td>
                                                <td class="column-4">
                                                    <h6 class="text-center">{{cart_item.quantity}}</h6>
                                                </td>

                                            </tr>

                                            {% endfor %}

                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-sm-10 col-lg-7 col-xl-7 m-lr-auto m-b-50">
                <form method="POST" action="{% url 'place_order' %}">
                    {% csrf_token %}
                    <input type="text" hidden value="{{order.order_id}}" id="order_id_summary" name="order_id_summary">
                    <div class="bor10 m-l-63 m-lr-0-xl p-lr-15-sm">
                        <div class="card border-0">
                            <div class="card-header bg-none p-2 m-2">
                                <h6><strong>Choose a Payment Method</strong></h6>
                            </div>
                            <div class="card-body p-3">
                                {% for payment_method in payment_methods %}
                                <div class="form-check border border-black-50 m-2">
                                    <div class="p-2 mx-2 d-flex align-items-center">
                                        <input value="{{ payment_method.id }}" class="form-check-input m-1" type="radio"
                                            name="payment1" id="payment_method{{ forloop.counter }" {% if payment_method.is_default %}checked{% endif %}>
                                        <label class="form-check-label" for="payment{{ forloop.counter }}">
                                            {{payment_method.method_name}}
                                        </label>
                                    </div>
                                </div>
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                    <br>

                    <div class=" bor10 m-l-63 m-lr-0-xl p-lr-15-sm">

                        <div class="card">
                            <div class="card-title p-2 m-2">
                                <h4 class="mtext-109 cl2 p-b-30">
                                    Cart Totals
                                </h4>
                            </div>
                        </div>
                        <div class="card-body">
                            <div class="flex-w flex-t bor12 p-b-13">
                                <div class="size-208">
                                    <span class="stext-110 cl2">
                                        Subtotal:
                                    </span>
                                </div>

                                <div class="size-209">
                                    <span id="total" class="mtext-110 cl2">
                                        &#8377; {{total}}
                                    </span>
                                </div>
                            </div>
                            <div class="flex-w flex-t bor12 p-b-13">
                                <div class="size-208">
                                    <span class="stext-110 cl2">
                                        Tax:
                                    </span>
                                </div>

                                <div class="size-209">
                                    <span id="tax" class="mtext-110 cl2">
                                        &#8377; {{tax}}
                                    </span>
                                </div>
                            </div>

                            <div class="flex-w flex-t p-t-27 p-b-33">
                                <dl class="size-208">
                                    <span class="mtext-101 cl2">
                                        Total:
                                    </span>
                                </dl>

                                <div class="size-209 p-t-1">
                                    <span id="grand_total" class="mtext-110 cl2">
                                        &#8377; {{grand_total}}
                                    </span>
                                </div>
                            </div>

                            <button type="submit"
                                class="flex-c-m stext-101 cl0 size-116 bg3 bor14 hov-btn3 p-lr-15 trans-04 pointer">
                                Place Order
                            </button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
</div>
{% endblock %}