{% extends 'base/user_side/base_user.html' %}

{% block title %}
Order failed	
{% endblock %}

{% block content %}

{% load static %}

<!-- Header -->
{% include 'base/user_side/includes/header.html' %}


<!-- Cart -->
{% include 'base/user_side/includes/header_cart.html' %}

<div class="containerjustify-content-center " style="margin-top: 50px;">
    <!-- <i class="fas fa-check-circle align-items-center" style="font-size: 72px;margin-bottom: 20px;color: #e32e06;"></i> -->
    <h2 class="text-center">Sorry ! Order Not Placed ! </h2>
    <div class="d-flex justify-content-center">
        <div>
            
            <img src="{% static 'user/images/payment_failed.jpg' %}" style="max-width: 400px;" alt="order Placed" >
        </div>
        
    </div>
    
    <h6 class="text-center">Reason  </h6>
      
        <p class="text-center">
            {{error_description}} <br>
            <a href="{% url 'cart_checkout' %}" >Retry Payment !</a>
        </p>
        

</div>




{% endblock %}