{% extends 'base/user_side/base_user.html' %}
{% block title %}
	Shop
{% endblock %}
	
{% block content %}
{% load static %}
<!-- Header -->
{% include 'base/user_side/includes/header.html' %}
		
<!-- Cart -->
{% include 'base/user_side/includes/header_cart.html' %}


	<!-- Product -->
	<div class="bg0 m-t-23 p-b-140">
		<div class="container">
			{% if "search" in request.path %}
				<h6 class="d-flex">Searched Products</h6>
				{% else %}	
				<h6 class="d-flex">All Products</h6>
				{% endif %}
				<div class="flex-w flex-sb-m p-b-52">
					<div class="flex-w flex-l-m filter-tope-group m-tb-10">
						<button class="stext-106 cl6 hov1 bor3 trans-04 m-r-32 m-tb-5 how-active1" data-filter="*">
							All Products
						</button>
					
						{% for category in categories %}
						{% if not category.parent_cat %}
						
		
						<a href="{% url 'shop_by_cat' category.slug %}" class="stext-106 cl6 hov1 bor3 trans-04 m-r-32 m-tb-5">
							{{category.category_name}}
						</a>
						{% endif %}
						{% endfor %}
		
							
					</div>
					<div class="flex-w flex-c-m m-tb-10">
						<div class="flex-c-m stext-106 cl6 size-104 bor4 pointer hov-btn3 trans-04 m-r-8 m-tb-4 js-show-filter">
								<i class="icon-filter cl2 m-r-6 fs-15 trans-04 zmdi zmdi-filter-list"></i>
								<i class="icon-close-filter cl2 m-r-6 fs-15 trans-04 zmdi zmdi-close dis-none"></i>
								Filter
						</div>
					</div>
					<!-- Filter -->
					<div class="dis-none panel-filter w-full p-t-10">
						<div class="wrap-filter flex-w bg6 w-full p-lr-40 p-t-27 p-lr-15-sm">
							<div class="filter-col1 p-r-15 p-b-27">
								<div class="mtext-102 cl2 p-b-15">
									Sort By
								</div>
								<ul>
									<li class="p-b-6">
										<button type="button" onclick="SortByPrice('High-to-Low')" class="filter-link stext-106 trans-04">
											Price:	High to Low
										</button>
									</li>
	
									<li class="p-b-6">
										<button type="button" onclick="SortByPrice('Low-to-High')" class="filter-link stext-106 trans-04">
											Price: Low to High
										</button>
									</li>
									<li class="p-b-6">
										<button type="button" onclick="SortByNew('New')" class="filter-link stext-106 trans-04 ">
											Newness
										</button>
									</li>
									<!-- <li class="p-b-6">
										<a href="#" class="filter-link stext-106 trans-04">
											Popularity
										</a>
									</li>

									<li class="p-b-6">
										<a href="#" class="filter-link stext-106 trans-04">
											Average rating
										</a>
									</li> -->

									
								</ul>
							</div>

							<div class="filter-col2 p-r-15 p-b-27">
								<div class="mtext-102 cl2 p-b-15">
									Price Range
								</div>
 
								<div class="form-row">
									<div class="form-group col-md-5">
										<label>Min</label>
										<input type="" class="form-control" placeholder="Rs 0" type="number" id="price-range-min" value="{% if price_min %}{{ price_min }}{% endif %}">
										 
									</div>
									<div class="form-group text-right col-md-5">
										<label>Max</label>
										<input class="form-control" placeholder="Rs 1000" type="number" id="price-range-max" value="{% if price_max %}{{ price_max }}{% endif %}">
									</div>
								</div>
								<!-- form-row.// -->
								<button class="btn btn-block btn-dark my-3 w-50" onclick="filterWithPrice('price-range-min','price-range-max')">
									Apply
								</button>
							</div>
							<div class="filter-col4 p-b-27">
								<div class="mtext-102 cl2 p-b-15">
									Sub Categories
								</div>


								<div class="flex-w p-t-4 m-r--5">
									<ul class="list-menu">
										<li><a href="{% url 'shop' %}">All Categories </a></li>
										{% for category in category_list %}
										{% if category.parent_cat %}
										<li><a href="{% url 'shop_by_cat' category.slug %}">{{category.category_name}} </a></li>
											{% endif %}
										{% endfor %}
									</ul>
								</div>
							</div>
							
								<div class="filter-col3 p-r-15 p-b-27">
									{% for item, value in attribute_content.items %}
									<div class="mtext-102 cl2 p-b-15">
										{{item}}
									</div>
										<ul>
											{% for attribute_value in value %}
											<li class="p-b-6">

												<a href="#" class="filter-link stext-106 trans-04">
														<label class="d-flex checkbox-btn my-1">
															<input type="checkbox" class="filter-checkbox" value="{{item}}={{attribute_value}}">
															<span class="btn">{{attribute_value}}</span>
														</label>
												</a>
											</li>
											{% endfor %}
											
										</ul>
										{% endfor %}
									</div>
						
							<!-- <div class="filter-col4 p-b-27">
								<div class="mtext-102 cl2 p-b-15">
										Categories
								</div>
								
									<div class="flex-w p-t-4 m-r--5">
											<ul class="list-menu">
												<li><a href="{% url 'shop' %}">All Categories </a></li>
												{% for category in category_list %}
													{% if category.parent_cat %}
													<li><a href="{{category.get_url}}">{{category.parent_cat.category_name}} </a></li>
													{% endif %}
												{% endfor %}
											</ul>
									</div>
							</div> -->
						
						</div>
					</div>
				</div>
	
			<div class="row isotope-grid">
				{% if not product_variants %}
				<p class="m-2 p-2">Products not found</p>
				{% else %}

					{% for product in product_variants %}

					<div class="col-sm-6 col-md-4 col-lg-3 p-b-35 isotope-item">
						<!-- Block2 -->
						<div class="block2">
							<div class="block2-pic hov-img0">
								<img src="{{product.thumbnail_image.url}}" alt="IMG-PRODUCT" width="300px" style="max-height: 200px; object-fit: contain;">
	
								<a href="{% url 'add_to_cart' product.id %}" class="block2-btn flex-c-m stext-103 cl2 size-102 bg0 bor2 hov-btn1 p-lr-15 trans-04 js-show-modal1">
									Add to cart
								</a>
							</div>
	
							<div class="block2-txt flex-w flex-t p-t-14">
								<div class="block2-txt-child1 flex-col-l ">
									<a id="variant_name{{forloop.counter}}" href="{% url 'product_variant_detail' product.product.category.slug product.product_variant_slug %}" class="stext-104 cl4 hov-cl1 trans-04 p-b-6">
										{{product.get_product_name}}
									</a>
									<span class="stext-105 cl3">
										Rs{{product.sale_price}}
									</span>
									
								</div>
								<div class="block2-txt-child2 flex-r p-t-3">
									<button role="button" class="btn-addwish-b2 dis-block pos-relative" onclick="update_wishlist('{{ product.id }}', '{{forloop.counter}}', '{{request.user.is_authenticated}}')">
										<img id="wishlist_icon{{forloop.counter}}" class="dis-block trans-04" 
											{% if product in wishlist_products %} 
												src="{% static 'user/images/icons/icon-heart-02.png' %}"
											{% else %}
												src="{% static 'user/images/icons/icon-heart-01.png' %}"
											{% endif %}
										alt="Wishlist">
									</button>
								</div>
							</div>
						</div>
					</div>
					{% endfor %}
					{% endif %}
			</div>
	
			<!-- Load more -->
			<nav class="flex-c-m flex-w w-full p-t-45">
				{% if product_variants.has_other_pages %}
					<ul class="pagination">
						{% if product_variants.has_previous %}
						<li class="page-item">
							<a href="?page={{product_variants.previous_page_number}}" class="page-link ">
								Previous
							</a>
						</li>
						{% else %}
						<li class="page-item disabled">
							<a href="#" class="page-link ">
								<span>Previous</span>
							</a>
						</li>
						{% endif %}
						
						{% for i in product_variants.paginator.page_range %}
						{% if product_variants.number == i %}
						<li class="page-item active">
							<a href="#" class="page-link bg-dark border-dark ">
								<span>{{i}}</span>
							</a>
						</li>
						{% else %}
						<li class="page-item ">
							<a href="?page={{i}}" class="page-link ">
								<span>{{i}}</span>
							</a>
						</li>
						{% endif %}
						{% endfor %}
						{% if product_variants.has_next %}
						<li class="page-item"><a class="page-link" href="?page={{product_variants.next_page_number}}">Next</a></li>
						{% else %}
							<li class="page-item disabled"><a class="page-link" href="#">Next</a></li>
						{% endif %}
					</ul>
				{% endif %}
			</nav>
		</div>
	</div>
	
	<script>
		let addedImagePath = "{% static 'user/images/icons/icon-heart-02.png' %}"
		let removedImagePath = "{% static 'user/images/icons/icon-heart-01.png' %}"
	</script>
	
{% endblock %}