{% extends 'base/user_side/base_user.html' %}
{% block title %}
    Wishlist
{% endblock %}
	
{% block content %}
{% load static %}
<!-- Header -->
{% include 'base/user_side/includes/header.html' %}
		
<!-- Cart -->
{% include 'base/user_side/includes/header_cart.html' %}

	<!-- Product -->
<div class="container">
	<div class="bg0 m-t-23 p-b-140">
		{% include 'base/user_side/includes/dashboard.html' %}






		
		<!-- Load more -->
		<nav class="flex-c-m flex-w w-full p-t-45">
			{% if product_variants.has_other_pages %}
				<ul class="pagination">
					{% if product_variants.has_previous %}
					<li class="page-item">
						<a href="?page={{product_variants.previous_page_number}}" class="page-link ">
							Previous
						</a>
					</li>
					{% else %}
					<li class="page-item disabled">
						<a href="#" class="page-link ">
							<span>Previous</span>
						</a>
					</li>
					{% endif %}
					
					{% for i in product_variants.paginator.page_range %}
					{% if product_variants.number == i %}
					<li class="page-item active">
						<a href="#" class="page-link ">
							<span>{{i}}</span>
						</a>
					</li>
					{% else %}
					<li class="page-item ">
						<a href="?page={{i}}" class="page-link ">
							<span>{{i}}</span>
						</a>
					</li>
					{% endif %}
					{% endfor %}
					{% if product_variants.has_next %}
					<li class="page-item"><a class="page-link" href="?page={{product_variants.next_page_number}}">Next</a></li>
					{% else %}
						<li class="page-item disabled"><a class="page-link" href="#">Next</a></li>
					{% endif %}
				</ul>
			{% endif %}
		</nav>
	</div>
</div>
{% endblock %}