{% extends 'base/admin_side/admin_base.html' %}
 
{% block title %}
Admin - Dashboard
{% endblock %}

{% load static %}

{% block content %}
<script>
    $(document).ready(function () {
     
      getDashboardSalesData()
      getDashboardProduct2SalesData()
  
    });
  </script>
{% include 'base/admin_side/admin_includes/aside.html' %}

<main class="main-wrap">
   
{% include 'base/admin_side/admin_includes/admin_header.html' %}

    <section class="content-main">
        <div class="content-header">
            <div>
                <h2 class="content-title card-title">Dashboard </h2>
                <p>Whole data about your business here</p>
            </div>
            
        </div>
        <div class="row">
            <div class="col-lg-3">
                <div class="card card-body mb-4">
                    <article class="icontext">
                        <span class="icon icon-sm rounded-circle bg-primary-light"><i class="text-primary material-icons md-monetization_on"></i></span>
                        <div class="text">
                            <h6 class="mb-1 card-title">Revenue</h6>
                            <span>{{total_revenue}}</span>
                            <span class="text-sm">
                               
                            </span>
                        </div>
                    </article>
                </div>
            </div>
            <div class="col-lg-3">
                <div class="card card-body mb-4">
                    <article class="icontext">
                        <span class="icon icon-sm rounded-circle bg-success-light"><i class="text-success material-icons md-local_shipping"></i></span>
                        <div class="text">
                            <h6 class="mb-1 card-title">Orders</h6> <span>{{orders_count}}</span>
                            <span class="text-sm">
                                Total order count
                            </span>
                        </div>
                    </article>
                </div>
            </div>
            <div class="col-lg-3">
                <div class="card card-body mb-4">
                    <article class="icontext">
                        <span class="icon icon-sm rounded-circle bg-warning-light"><i class="text-warning material-icons md-qr_code"></i></span>
                        <div class="text">
                            <h6 class="mb-1 card-title">Products</h6> <span>{{products}}</span>
                            <span class="text-sm">
                                In {{category}} Categories
                            </span>
                        </div>
                    </article>
                </div>
            </div>
            <div class="col-lg-3">
                <div class="card card-body mb-4">
                    <article class="icontext">
                        <span class="icon icon-sm rounded-circle bg-info-light"><i class="text-info material-icons md-shopping_basket"></i></span>
                        <div class="text">
                            <h6 class="mb-1 card-title">Users</h6> 
                            <span>{{users}}</span>
                            <span class="text-sm">
                                Total users count
                            </span>
                        </div>
                    </article>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-xl-8 col-lg-12">
                <div class="card mb-4" id="chart-container">
                    <article class="card-body">
                        <h5 class="card-title">Sale statistics</h5>
                        <!-- <div class="col-md-3 col-12 me-auto mb-md-0 mb-3 ">
                        <button class="custom_select form-select" id="weekly-btn"> Weekly</button>
                        <button class="custom_select form-select" id="monthly-btn">Monthly</button>
                        <button class="custom_select form-select" id="yearly-btn">Yearly</button>
                        </div>
                        <div class="custom_select ">
                            <div class="col-md-3 col-12 me-auto mb-md-0 mb-3 ">
                                <select class="form-select " id="payment-method">
                                        <option value="all">All Payment Methods</option>
                                        <option value="razorpay">Razorpay</option>
                                        <option value="cod">Cash on Delivery</option>
                                    
                                </select>
                                
                            </div>
                        </div> -->
                        <br>
                        <canvas id="sales-chart" style="max-height: 500px;"></canvas>
                        <br>
                    </article>
                </div>
                <div class="row">
                    <div class="col-lg-5">
                        <div class="card mb-4">
                            <article class="card-body">
                                <h5 class="card-title">New Coupons({{coupon_count}})</h5>
                                <div class="new-member-list">
                                    <div class="d-flex align-items-center justify-content-between mb-4">
                                        <div class="d-flex align-items-center">
                                            <div>
                                                {% for coup in coupons %}
                                                <h6 class="text-white">{{coup.coupon_code}}</h6>
                                                <p class="text-white font-xs">
                                                    {{coup.description}}
                                                </p>
                                                {% endfor %}
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </article>
                        </div>
                    </div>
                    <div class="col-lg-7">
                        <div class="card mb-4">
                            <article class="card-body">
                                <h5 class="card-title">Delivered Orders</h5>
                                <ul class="verti-timeline list-unstyled font-sm">
                                    {% for order in delivered_oders %}
                                    <li class="event-list">
                                        <div class="event-timeline-dot">
                                            <i class="material-icons md-play_circle_outline font-xxl"></i>
                                        </div>
                                        <div class="media">
                                            <div class="me-3">
                                                <h6><span></span> <i class="material-icons md-trending_flat text-brand ml-15 d-inline-block"></i></h6>
                                            </div>
                                            <div class="media-body">
                                                <div>
                                                    {{order}}
                                                </div>
                                            </div>
                                        </div>
                                    </li>
                                   {% endfor %}
                                </ul>
                            </article>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xl-4 col-lg-12">
                <div class="card mb-4">
                    <article class="card-body">
                        <h5 class="card-title">Top Products</h5>
                        <canvas id="top-products-sale" style="max-height: 300px;"></canvas>
                    </article>
                </div>
                <div class="card mb-4">
                    <article class="card-body">
                        <h5 class="card-title">Marketing Chanel</h5>
                        <span class="text-muted font-xs">Facebook</span>
                        <div class="progress mb-3">
                            <div class="progress-bar" role="progressbar" style="width: 15%">15%</div>
                        </div>
                        <span class="text-muted font-xs">Instagram</span>
                        <div class="progress mb-3">
                            <div class="progress-bar" role="progressbar" style="width: 65%">65% </div>
                        </div>
                        <span class="text-muted font-xs">Google</span>
                        <div class="progress mb-3">
                            <div class="progress-bar" role="progressbar" style="width: 51%"> 51% </div>
                        </div>
                        <span class="text-muted font-xs">Twitter</span>
                        <div class="progress mb-3">
                            <div class="progress-bar" role="progressbar" style="width: 80%"> 80%</div>
                        </div>
                        <span class="text-muted font-xs">Other</span>
                        <div class="progress mb-3">
                            <div class="progress-bar" role="progressbar" style="width: 80%"> 80%</div>
                        </div>
                    </article>
                </div>
            </div> 
        </div>
        <div class="card mb-4">
            <header class="card-header">
                <h4 class="card-title">Latest orders</h4>
                <div class="row align-items-center">
                   
                    
                       
                    <div class="col-md-2 col-6">
                        <div class="custom_select">
                            <select class="form-select ">
                                <option selected>Status</option>
                                <option></option>
                               
                            </select>
                        </div>
                    </div>
                   
                </div>
            </header>
            <div class="card-body">
                <div class="table-responsive">
                    <div class="table-responsive">
                        <table class="table align-middle table-nowrap mb-0">
                            <thead class="table-light">
                                <tr>
                                    <!-- <th scope="col" class="text-center">
                                        <div class="form-check align-middle">
                                            <input class="form-check-input" type="checkbox" id="transactionCheck01">
                                            <label class="form-check-label" for="transactionCheck01"></label>
                                        </div>
                                    </th> -->
                                    <th class="align-middle" scope="col">Sl.No</th>
                                    <th class="align-middle" scope="col">Order ID</th>
                                    <th class="align-middle" scope="col">Username</th>
                                    <th class="align-middle" scope="col">Date</th>
                                    <th class="align-middle" scope="col">Total</th>
                                    <th class="align-middle" scope="col">Payment Status</th>
                                    <th class="align-middle" scope="col">Payment Method</th>
                                </tr>
                            </thead>
                            {% for order in orders %}
                            <tbody>
                                <tr>
                                    <td>
                                         {{forloop.counter}}
                                    </td>
                                    <td>{{order.order_id}}</td>
                                    <td>{{order.user.username}}</td>
                                    <td>
                                    {{order.created_at}}
                                    </td>
                                    <td>
                                        {{order.order_total}}
                                    </td>
                                    <td>
                                        {{order.payment.payment_status}}
                                    </td>
                                    <td>
                                        {{order.payment.method.method_name}}
                                    </td>
                                    
                                </tr>
                            </tbody>
                            {% endfor %}
                        </table>
                    </div>
                </div> <!-- table-responsive end// -->
            </div>
        </div>
        <!-- <div class="pagination-area mt-30 mb-50">
            <nav aria-label="Page navigation example">
                <ul class="pagination justify-content-start">
                    <li class="page-item active"><a class="page-link" href="#">01</a></li>
                    <li class="page-item"><a class="page-link" href="#">02</a></li>
                    <li class="page-item"><a class="page-link" href="#">03</a></li>
                    <li class="page-item"><a class="page-link dot" href="#">...</a></li>
                    <li class="page-item"><a class="page-link" href="#">16</a></li>
                    <li class="page-item"><a class="page-link" href="#"><i class="material-icons md-chevron_right"></i></a></li>
                </ul>
            </nav>
        </div> -->
    </section> <!-- content-main end// -->
    {% include 'base/admin_side/admin_includes/footer.html' %}

</main>    
{% endblock %}
