{% extends 'base/admin_side/admin_base.html' %}

{% block title %}
Publication Management - Add Publication
{% endblock %}

{% load static %}

{% block content %}
{% include 'base/admin_side/admin_includes/aside.html' %}

<main class="main-wrap">

{% include 'base/admin_side/admin_includes/admin_header.html' %}
<section class="content-main mt-80 mb-80">
    <div class="card mx-auto card-box">
        <div class="card-body ">
            <h4 class="card-title mb-4">Add Publication</h4>
                <form method="post" >
                    {% csrf_token %}
                    <div class="container">
                        <div class="row ">
                            <div class="col-lg-5 p-3">
                                <div class="d-flex p-3">
                                    <label class="d-block" for="id_name">Publication Name</label>
                                    {{form.name}}
                                </div>
                            </div> <!-- form-group// -->
                            <div class="col-lg-4 p-3">
                                <div class=" p-3">
                                    <label class="p-3" for="id_is_active">
                                        Is Active
                                    </label>
                                    {{form.is_active}}
                                </div>
                            </div>
                        </div>
                        
                           

                        <div class="row my-5">
                            
                            <div class="col-lg-4">
                                <button type="submit" class="btn btn-primary w-50 rounded-pill"> Create Publication</button>
                            </div> <!-- form-group// -->
                        </div>
                    </div>
                </form>
            
        </div>
    </div>

    </section>
    {% endblock %}
    