{% extends 'base/admin_side/admin_base.html' %}

{% block title %}
Product Management - All Attributes
{% endblock %}

{% load static %}

{% block content %}
{% include 'base/admin_side/admin_includes/aside.html' %}
<main class="main-wrap">

{% include 'base/admin_side/admin_includes/admin_header.html' %}

<section class="content-main">
    <div class="content-header">
        <div>
            <h2 class="content-title card-title">Attributes List</h2>
        </div>
        
    </div>
  {% include 'base/admin_side/admin_includes/alerts.html' %}

    <div class="card mb-4">
        <div class ="card-body">
           <div class="table-responsive">
               <table class="table text-nowrap align-items-center mb-0 align-middle">
                   <thead class="text-dark fs-4">
                       <tr>
                           <th class="border-bottom-0">
                               <h6 class="fw-semibold mb-0">Sl.No</h6>
                            </th>
                           <th class="border-bottom-0">
                               <h6 class="fw-semibold mb-0">Attribute Name</h6>
                            </th>
                            <th class="border-bottom-0">
                                <h6 class="fw-semibold mb-0">Is Active</h6>
                            </th>
                            <th class="border-bottom-0">
                                <h6 class="fw-semibold mb-0">Action</h6>
                            </th>
                        </tr>
                    </thead>
                {% for attr in attribute %}
              <tr>
                <td class="border-bottom-0 text-center">
                  <h6 class="fw-semibold tablecontent mb-1">{{ forloop.counter }}</h6>
                </td>
                
                <td class="border-bottom-0">
                  <a href="{% url 'update_attribute' attr.id %}">
                    <h6 class="text-decoration-underline text-primary fw-normal mb-1">{{attr.attribute_name}}</h6>
                  </a>
                </td>
                <td class="border-bottom-0">
                  <div class="mb-1">
                    <!-- <span class="badge bg-primary rounded-3 fw-semibold"> -->
                      {% if attr.is_active %}
                        Enabled
                      {% else %}
                         Disabled
                      {% endif %}
                    <!-- </span> -->
                  </div>
                </td>
                <td class="border-bottom-0">
                  {% if attr.is_active %}
                    <a href="{% url 'attribute_control' attr.id %}">
                        <button class="btn btn-danger mb-1 px-3">Disable</button>
                    </a>
                  {% else %}
                     <a href="{% url 'attribute_control' attr.id %}">
                        <button class="btn btn-success mb-1">Enable</button>
                    </a>
                  {% endif %}
                </td>
              </tr> 
              {% endfor %}
            </table>
           </div>
        </div> <!-- card-body end// -->
    </div> <!-- card end// -->
    <!-- <div class="pagination-area mt-30 mb-50">
        <nav aria-label="Page navigation example">
            <ul class="pagination justify-content-start">
                <li class="page-item active"><a class="page-link" href="#">01</a></li>
                <li class="page-item"><a class="page-link" href="#">02</a></li>
                <li class="page-item"><a class="page-link" href="#">03</a></li>
                <li class="page-item"><a class="page-link dot" href="#">...</a></li>
                <li class="page-item"><a class="page-link" href="#">16</a></li>
                <li class="page-item"><a class="page-link" href="#"><i class="material-icons md-chevron_right"></i></a></li>
            </ul>
        </nav>
    </div> -->
</section> <!-- content-main end// -->

{% endblock %}