{% extends 'base/admin_side/admin_base.html' %}

{% block title %}
Product Management - All Products
{% endblock %}

{% load static %}

{% block content %}
{% include 'base/admin_side/admin_includes/aside.html' %}
<main class="main-wrap">

{% include 'base/admin_side/admin_includes/admin_header.html' %}

<section class="content-main">
  {% include 'base/admin_side/admin_includes/alerts.html' %}

    <div class="content-header">
        <div>
            <h2 class="content-title card-title">Products List</h2>
        </div>
        
    </div>
    <div class="card mb-4">
        <header class="card-header">
            <div class="row align-items-center">
                <!-- <div class="col col-check flex-grow-0">
                    <div class="form-check ms-2">
                        <input class="form-check-input" type="checkbox" value="">
                    </div>
                </div> -->
                
                <div class="col-md-2 col-6 d-flex flex-end ">
                  <a href="{% url 'create_product' %}" class="btn btn-primary m-3 p-3 "> Add Product</a>
                </div>
               
            </div>
        </header> <!-- card-header end// -->
        <div class ="card-body">
            
           <div class="table-responsive">
               <table class="table text-nowrap align-items-center mb-0 align-middle">
                   <thead class="text-dark fs-4">
                       <tr>
                           <th class="border-bottom-0">
                               <h6 class="fw-semibold mb-0">Product ID</h6>
                            </th>
                            <th class="border-bottom-0">
                                <h6 class="fw-semibold mb-0">Product image</h6>
                            </th>
                            <th class="border-bottom-0">
                                <h6 class="fw-semibold mb-0">Product name</h6>
                            </th>
                            <th class="border-bottom-0">
                                <h6 class="fw-semibold mb-0">Publication name</h6>
                            </th>
                  <th class="border-bottom-0">
                      <h6 class="fw-semibold mb-0">Category</h6>
                    </th>
                    <th class="border-bottom-0">
                    <h6 class="fw-semibold mb-0">Is available</h6>
                  </th>
                  <th class="border-bottom-0">
                    <h6 class="fw-semibold mb-0">Action</h6>
                  </th>
                </tr>
              </thead>
              {% for product in products %}
              <tr>
                <td class="border-bottom-0 text-center">
                  <h6 class="fw-semibold tablecontent mb-1">{{ forloop.counter }}</h6>
                </td>
                <td class="border-bottom-0">
                  <a href="{% url 'product_update' product.slug %}">
                    <img style="width: 60px;" class="prod-img-inlist" src="/media/{{ product.image }}" alt="">
                  </a>
                </td>
                <td class="border-bottom-0">
                  <a href="{% url 'product_update' product.slug %}">
                    <h6 class="text-decoration-underline text-primary fw-normal mb-1">{{product.product_name}}</h6>
                  </a>
                </td>
                <td class="border-bottom-0">
                  <h6 class="fw-normal mb-1">{{product.publication}}</h6>
                </td>
                <td class="border-bottom-0">
                  <h6 class="fw-normal mb-1">{{product.category}}</h6>
                </td>
                <td class="border-bottom-0">
                  <div class="mb-1">
                    <!-- <span class="badge bg-primary rounded-3 fw-semibold"> -->
                      {% if product.is_available %}
                      Enabled
                      {% else %}
                      Disabled
                      {% endif %}
                    <!-- </span> -->
                  </div>
                </td>
                <td class="border-bottom-0">
                  {% if product.is_available %}
                  <a href="{% url 'product_control' product.slug %}">
                    <button class="btn btn-danger mb-1 px-3">Disable</button>
                  </a>
                  {% else %}
                  <a href="{% url 'product_control' product.slug %}">
                    <button class="btn btn-success mb-1">Enable</button>
                  </a>
                  {% endif %}
                </td>
              </tr> 

              {% endfor %}
  
            </table>
           </div>
           
    
        </div> <!-- card-body end// -->
    </div> <!-- card end// -->
    <div class="pagination-area mt-30 mb-50">
       <nav class="flex-c-m flex-w w-full p-t-45">
                {% if products.has_other_pages %}
                  <ul class="pagination">
                    {% if products.has_previous %}
                    <li class="page-item">
                      <a href="?page={{products.previous_page_number}}" class="page-link ">
                        Previous
                      </a>
                    </li>
                    {% else %}
                    <li class="page-item disabled">
                      <a href="#" class="page-link ">
                        <span>Previous</span>
                      </a>
                    </li>
                    {% endif %}
                    
                    {% for i in products.paginator.page_range %}
                    {% if products.number == i %}
                    <li class="page-item active">
                      <a href="#" class="page-link ">
                        <span>{{i}}</span>
                      </a>
                    </li>
                    {% else %}
                    <li class="page-item ">
                      <a href="?page={{i}}" class="page-link ">
                        <span>{{i}}</span>
                      </a>
                    </li>
                    {% endif %}
                    {% endfor %}
                    {% if products.has_next %}
                    <li class="page-item"><a class="page-link" href="?page={{products.next_page_number}}">Next</a></li>
                    {% else %}
                      <li class="page-item disabled"><a class="page-link" href="#">Next</a></li>
                    {% endif %}
                  </ul>
                {% endif %}
              </nav>
    </div>
</section> <!-- content-main end// -->

{% endblock %}